.feature {
  margin-top: 50px;
}

.feature_top,
.feature_bottom {
  display: flex;
  gap: 50px;
}

.feature_top_left {
  flex: 1;
}

.feature_top_left img,
.feature_bottom_left img {
  width: 100%;
  object-fit: cover;
}

.feature_top_right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Body section */
.feature_body_wrapper .feature_title {
  font-size: 3rem;
  font-weight: bold;
  color: var(--main-color);
}

.feature_body_wrapper .feature_desc {
  font-size: 2rem;
  color: var(--light-gray);
}

/* Feature Bottom Section */
.feature_bottom {
  margin-top: 100px;
}

.feature_bottom_left {
  flex: 1;
}

.feature_bottom_right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .feature_top,
  .feature_bottom {
    flex-direction: column;
    gap: 10px;
  }

  .feature_bottom {
    margin-top: 20px;
    flex-direction: column-reverse;
  }

  /* Body section */
  .feature_body_wrapper .feature_title {
    font-size: 2rem;
  }

  .feature_body_wrapper .feature_desc {
    font-size: 1.2rem;
  }
}
