.card_proudct {
  height: 100vh;
}

.card_top img {
  width: 100%;
  object-fit: cover;
}

.card_title {
  margin-top: 20px;
  color: var(--main-color);
  font-size: 2rem;
}

.card_desc {
  color: var(--light-gray);
}

.card_body .card_button {
  border: none;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}
