.card_proudct {
  height: 100vh;
}

.card_product_warpper {
  /* width: 400px; */
}

.card_top img {
  width: 100%;
  object-fit: cover;
}

.card_body .card_button {
  border: none;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}
