.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact_wrapper {
  background-color: var(--main-color);
  width: 100%;
  padding: 30px;
  margin-top: 100px;
  border-radius: 10px;
}

.contact_title {
  margin-left: 10px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.contact input,
.contact textarea {
  border: none;
  padding: 15px;
  margin: 10px;
  outline: none;
  border-radius: 10px;
}

.contact input::placeholder,
.contact textarea::placeholder {
  font-size: 1.2rem;
  color: rgb(177, 167, 167);
}

.input_name_section {
  display: flex;
  align-items: center;
}

.input_name_section input {
  width: 100%;
}

.input_email_message_section {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.input_button {
  border: none;
  padding: 15px;
  margin: 10px;
  font-size: 1.2rem;
  border-radius: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background-color: var(--green-color);
}
