:root {
  --main-color: #afb4ff;
  --light-gray: rgb(138, 138, 138);
  --green-color: #198754;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
